<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pa.iscde.javaTasks.ext">
      <client
            TagName="WARNING"
            TasksAction="testExtensivility.TasksActions">
      </client>
   </extension>
   <extension
         id="id1"
         name="name"
         point="pt.iscte.pidesco.view">
      <view
            class="testExtensivility.RandomView">
      </view>
   </extension>

</plugin>
